.faqSection {
  max-width: 700px;
  padding: 40px 20px;
  margin: 0 auto;
}

.title{ margin:0; font-size:1.25rem; font-weight:700;padding-bottom: 15px; font-size: var(--fontSizeHeader); }

.faqList {
  margin-top: 20px;
}

.faqItem {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background: #fff;
}

.question {
  width: 100%;
  background: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  transition: background 0.2s;
}

.question:hover {
  background: #eaeaea;
}

.icon {
  font-size: 20px;
  font-weight: bold;
}

.answerWrapper {
  overflow: hidden;
}

.answer {
  padding: 10px 20px;
  font-size: 16px;
  color: #555;
  background: #fff;
}
