.videoCallSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 60px 60px;
  margin: 20px auto;
  max-width: 1200px;
  border-radius: 20px;
  background: var(--surface);
  border: 1px solid var(--divider);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.04);
}

.videoCallContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.videoTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--accent); /* твой бирюзовый */
}

.videoText {
  font-size: 1.1rem;
  color: #0f172aa6;
  line-height: 1.6;
  max-width: 500px;
}

.videoBtn {
  margin-top: 10px;
  padding: 12px 20px;
  width: fit-content;
  font-size: 1rem;
  border: 1px solid var(--accent);
  border-radius: 10px;
}

.videoCallImage {
  flex: 1;
  display: flex;
  justify-content: center;
}

.videoCallImage img {
  width: 100%;
  max-width: 380px;
  height: auto;
  border-radius: 16px;
}
